#below keys name are standard, if other names are used 
#laod function would not be able to load these keys automatically
OPENAI_API_KEY = "<Auth-Token>"
ANTHROPIC_API_KEY = "<Auth-Token>"
HUGGINGFACEHUB_API_TOKEN = "<Auth-Token>"